My workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "49ddd5da-cf91-44a3-9fd9-5fa862f18810",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -240
      ],
      "id": "cbddf430-07b3-4d77-b959-27fe7a772288",
      "name": "Webhook",
      "webhookId": "49ddd5da-cf91-44a3-9fd9-5fa862f18810"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert travel planner and a destination recommendation specialist. Your task is to first create a detailed, day-by-day travel itinerary, and then provide three alternative destination recommendations based on the user's detailed travel preferences.\n\n---\n\n**Part 1: Itinerary Generation**\nCreate a comprehensive point-wise, well-formatted, day-by-day itinerary using all the following trip details. The itinerary should be highly personalised and practical.\n\n**Trip Details:**\n* **Destination:** {{$json.body.trip.destination}}\n* **Origin:** {{$json.body.trip.origin}}\n* **Dates:** {{$json.body.trip.dates.startDate}} to {{$json.body.trip.dates.endDate}}\n* **Number of Travellers:** \n{{ $json.body.travellers.breakdown.adults }}adults, \n{{ $json.body.travellers.breakdown.children }}children, \n{{ $json.body.travellers.breakdown.seniors }}seniors\n* **Total Budget:** {{$json.body.budget.total.amount}} {{$json.body.budget.total.currency}}\n* **Transportation:** {{$json.body.preferences.transportation}}\n* **Interests:** {{$json.body.preferences.interests}}\n* **Special Requests:** {{$json.body.preferences.specialRequests}}\n\nFor each day of the itinerary, include specific attractions, food recommendations, and a useful travel tip. Ensure all recommendations align with the stated budget and special requests.\n\n---\n\n**Part 2: Destination Recommendations**\nBased on the user's stated interests, total budget, and starting city, recommend three alternative destinations. For each recommendation, provide:\n1.  The name of the destination.\n2.  A brief paragraph explaining why it's a good fit, specifically referencing their interests and budget.\n3.  A short 'Why it's unique' summary.\n\nEnsure the final output is well-structured and easy to read.",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a highly efficient and professional travel planning AI. Your mission is to create detailed, structured itineraries and provide relevant travel recommendations based on the user's precise data. Please don't include any personal greetings, conversational filler, or disclaimers. I'd like you to focus exclusively on generating a point-wise, well-formatted and helpful response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -240
      ],
      "id": "49935ece-740a-4f9e-84d3-976b22d779d8",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "driveId": "=drive",
        "folderId": "=1j3l-i90I0_CpwoDWWj4fxTYnmC0LGadK",
        "title": "={{ $('Webhook').item.json.body.trip.destination }} Travel Itinerary"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        576,
        -240
      ],
      "id": "9c9561bd-002f-472d-b94c-8ac5353624a9",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ckQSCyK26QXWR4gY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        -240
      ],
      "id": "0c9bc83b-e518-434c-aaf7-7e3e99c5027c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ckQSCyK26QXWR4gY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "={{ $json.documentId }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        -240
      ],
      "id": "8d49151d-21ff-485d-a52c-0aa9c9339c47",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bIVTxm6DbdKI8EAS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        -32
      ],
      "id": "da87b963-c855-4deb-8ab7-f50011922b80",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CP9vHpuezDWxgEvJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.trip.email }}",
        "subject": "=Your Personalised Trip Itinerary for {{ $('Webhook').item.json.body.trip.destination }} is Ready!",
        "message": "=<p>Hello! </p>\n<p>Your personalised itinerary is ready. I hope you enjoy your trip to {{ $('Webhook').item.json.body.trip.destination }}!</p> \n<br> \n<p>Here is your custom plan</p>  \n<p>Safe travels,<br> Your Personal AI Travel Planner</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $json.documentId }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -240
      ],
      "id": "cf7e04bb-215b-4804-8590-aa725ff1b650",
      "name": "Send a message",
      "webhookId": "b1651efd-284e-475e-a6da-147351e46423",
      "credentials": {
        "gmailOAuth2": {
          "id": "vq1faVxRRfHaf4HI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        16
      ],
      "id": "fd224ca3-78ea-4c4f-93ab-80d36df62538",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6Z8yIaRSXPSKtpbD",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "id": "1df1b410-cfeb-4bff-90e4-e510a94e7a76",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14gFlhZsy3M2wkqGpWsJdryNtv-ftvY9PJubYRbEl6vw",
          "mode": "list",
          "cachedResultName": "Error in travel plan ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gFlhZsy3M2wkqGpWsJdryNtv-ftvY9PJubYRbEl6vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14gFlhZsy3M2wkqGpWsJdryNtv-ftvY9PJubYRbEl6vw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.execution.id }}",
            "Message": "={{ $json.execution.error.message }}",
            "Stack": "={{ $json.execution.error.stack }}",
            "Error node": "={{ $json.execution.lastNodeExecuted }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error node",
              "displayName": "Error node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stack",
              "displayName": "Stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        224
      ],
      "id": "3df672dd-ee06-4532-8a54-a3e71facb8d9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yFNkx384rZ0zCSNG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RkJ6QCBEUmb39uYwBMDSiX1fI9SLKxdWtFmEIhnlU0I",
          "mode": "list",
          "cachedResultName": "Travel Plan Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RkJ6QCBEUmb39uYwBMDSiX1fI9SLKxdWtFmEIhnlU0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RkJ6QCBEUmb39uYwBMDSiX1fI9SLKxdWtFmEIhnlU0I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EmailID": "={{ $('Webhook').item.json.body.trip.email }}",
            "startingFrom": "={{ $('Webhook').item.json.body.trip.origin }}",
            "destination": "={{ $('Webhook').item.json.body.trip.destination }}",
            "startDate ": "={{ $('Webhook').item.json.body.trip.dates.startDate }}",
            "endDate": "={{ $('Webhook').item.json.body.trip.dates.endDate }}",
            "days": "={{ $('Webhook').item.json.body.trip.dates.duration.days }}",
            "night": "={{ $('Webhook').item.json.body.trip.dates.duration.nights }}",
            "adults": "={{ $('Webhook').item.json.body.travellers.breakdown.adults }}",
            "seniors": "={{ $('Webhook').item.json.body.travellers.breakdown.seniors }}",
            "children": "={{ $('Webhook').item.json.body.travellers.breakdown.children }}",
            "currency": "={{ $('Webhook').item.json.body.budget.total.currency }}",
            "totalBudget": "={{ $('Webhook').item.json.body.budget.total.amount }}",
            "transportation": "={{ $('Webhook').item.json.body.preferences.transportation }}",
            "interests": "={{ $('Webhook').item.json.body.preferences.interests }}",
            "specialRequests": "={{ $('Webhook').item.json.body.preferences.specialRequests }}"
          },
          "matchingColumns": [
            "EmailID"
          ],
          "schema": [
            {
              "id": "EmailID",
              "displayName": "EmailID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "startingFrom",
              "displayName": "startingFrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "startDate ",
              "displayName": "startDate ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days",
              "displayName": "days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "night",
              "displayName": "night",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "adults",
              "displayName": "adults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "children",
              "displayName": "children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniors",
              "displayName": "seniors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalBudget",
              "displayName": "totalBudget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transportation",
              "displayName": "transportation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interests",
              "displayName": "interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "specialRequests",
              "displayName": "specialRequests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -16
      ],
      "id": "b1049d71-329e-46bc-9163-57599bdb7908",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yFNkx384rZ0zCSNG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9a8b7e2-319d-44a1-8ddb-35440296536f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e9bf779fd368cca6079aacb42a3a781874b1c74cc4f516e1085d3f1c85580c3"
  },
  "id": "Y41PIj8JLVsz79cK",
  "tags": []
}